/* body {
  width: 400px;
  height: 500px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

p {
  display: inner-flex;
  margin: auto 10px;
  font-size: 22px;
  color: blue;
  border-radius: 6px;
  border: 1px solid lightblue;
  padding: 10px;
} */
