<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day</title>
</head>
<body>

    <% if (day === "Sunday" || day === "Saturday") { %>
        <h1 style="color: blue;"> Today is <%= day %>! </h1>
    <% } else { %>
        <h1 style="color: yellow;"> Today is <%= day %>! </h1>
    <% } %>

</body>
</html>